<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script type="text/javascript" src="/static/soundmanager2.js"></script>
<script type="text/javascript" src="/static/web-socket-js/swfobject.js"></script>
<script type="text/javascript" src="/static/web-socket-js/FABridge.js"></script>
<script type="text/javascript" src="/static/web-socket-js/web_socket.js"></script>
<script src="/static/jquery.js"></script>
<script>
WebSocket.__swfLocation = "/static/web-socket-js/WebSocketMain.swf";
soundManager.url = '/static/';

soundManager.debugMode = false;
soundManager.consoleOnly = true;

var soundEnabled = true;

soundManager.onready(function(status) {
    if (!status) {
        return false;
    }

    soundManager.createSound({
        id: 'message',
        url: '/static/sounds/message.mp3'
    });

    soundManager.createSound({
        id: 'error',
        url: '/static/sounds/error.mp3'
    });
});

var selected_cards = [];

function check_set() {
    selected_cards = [];
    $('.selected').each(function() {
        selected_cards.push($(this)[0].id);
    });
    
    if (selected_cards.length == 3) {
        ws.send(selected_cards.join(' '));
    }
}

function check_table() {
    for (i in selected_cards) {
        if (document.getElementById(selected_cards[i])) {
            $('#' + selected_cards[i]).addClass('selected');
        }
    }
}

function update_table() {
    // Make it so that clicking on cards toggles their selected property
    // Make the list of selected cards from selecting on this property
    $('#table').load(
        'http://' + location.hostname + ':' + location.port + location.pathname + '/table', 
        function (responseText, textStatus, XMLHttpRequest) {
            $('.card').bind('click', function() {
                if ($('.selected').length < 3 || $(this).hasClass('selected')) {
                    $(this).toggleClass('selected');
                    check_set();
                }
            });
            check_table();
        }
    );
}

$(document).ready(function() {
    ws = new WebSocket('ws://' + location.hostname + ':' + location.port + location.pathname + '/get')
    
    ws.onopen = function() {
        ws.onmessage = function(msg) {
            update_table();
            if (msg.data.indexOf('Error') != -1) {
                soundManager.play('error');
                $('#error').html(msg.data);
            } else {
                soundManager.play('message');
                $('#messages').html(msg.data);
                $('#error').html('');
            }
        }
    };
    
    update_table();
});

</script>
<style>
.card {
    margin: 2px;
}

.card.selected {
    border: 2px solid red;
    margin: 0px;
}
</style>
</head>

<body>

<table width="100%" height="100%">
<tr>
<td width="200px" valign="top">
<div id="error" style="width: 100%"></div>
<div id="messages" style="width: 100%"></div>
</td>
<td valign="top">
<div id="table" style="width: 350px; margin-left: auto; margin-right: auto;">
</div>
</td>
</tr>
</table>

</body>
